# Vite specific
.vite/
vitest.config.*.timestamp-*

# Vercel
.vercel

# Local environment variables
.env.local

# Build output
dist/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Stores VSCode versions used for testing VSCode extensions
.vscode-test